pip install --upgrade pip
pip install --upgrade git+https://github.com/huggingface/transformers.git 
pip install accelerate datasets transformers 
pip install evaluate
pip install pandas
pip install torch
pip install numpy
pip install jiwer
